# Application
PORT=3000

# Target base URL — no trailing slash
IDLIX_BASE_URL=https://185.231.223.71

# Cache TTL in hours (one per category)
CACHE_TTL_PAGE=1
CACHE_TTL_FEATURED=1
CACHE_TTL_CINEMAXXI=1
CACHE_TTL_TRENDING=1
CACHE_TTL_SERIES=1
CACHE_TTL_MCU=1
